body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.counter-container {
    text-align: center;
}

button {
    margin: 5px;
    padding: 15px;
    cursor: pointer;
}

#counter {
    font-size: 80px;
    margin-top: 10px;
}
